<div class="jumbotron text-center sticky">
    <h3 class="text-center">Recipes</h3>
    <button class="btn btn-dark" *ngIf="isViewRecipe" (click)="onRecipes()">Back To Recipes</button>
</div>

<ng-container #recipeList *ngIf="!isViewRecipe">
    <br>
    <div class="list-group text-center" *ngFor="let recipe of recipes">
        <a class="list-group-item list-group-item-action recipe pointer" (click)="onGetRecipe(recipe)" data-toggle="tooltip"
            data-placement="Time" title="Preparation Time: {{recipe.preparationTime}}">
            <div class="row text-left">
                <div class="col-4 ">
                    <img [src]="recipe.imageUrl" width="50" height="50" class="img-thumbnail">
                </div>
                <div class="col-4">
                    <p>{{ recipe.name }}</p>
                </div>
                <div class="col-4">
                    <p><small>Views: {{ recipe.views }}</small></p>
                </div>
            </div>
        </a>
    </div>
</ng-container>

<app-recipe-detail [selectedRecipe]="selectedRecipe" *ngIf="isViewRecipe"></app-recipe-detail>