<div class="jumbotron text-center mb-1 sticky">
    <h3 class="text-center">Pick A Recipe</h3>
</div>

<ng-container #recipeList *ngIf="!isViewRecipe">
    <div class="list-group text-center" *ngFor="let recipe of recipes">
        <a href="#" class="list-group-item list-group-item-action recipe" (click)="onGetRecipe(recipe)" data-toggle="tooltip" data-placement="Time"
            title="Preparation Time: {{recipe.preparationTime}}">{{ recipe.name }}</a>
    </div>
</ng-container>

<app-recipe-detail [selectedRecipe]="selectedRecipe" *ngIf="isViewRecipe"></app-recipe-detail>