.recipe:hover {
    background-color: orangered !important;
    color: white;
    transform: scale(1.1);
}

.suggestion:hover {
    background-color: rgb(233, 236, 239) !important;
    transform: scale(1.1);
    cursor: pointer;
}