<ul class="list-group text-center">
    <li class="list-group-item text-center main-theme">
        <h5>{{selectedRecipe.name}}</h5>
        <img [src]="selectedRecipe.imageUrl" width="100" height="100" class="img-thumbnail mb-2 mt-2">
    </li>
    <li class="list-group-item text-center main-theme">
        <div class="row">
            <div class="col-6 text-right">
                <p><strong>Preparation Time:</strong></p>
            </div>
            <div class="col-6 text-left">
                <p>{{selectedRecipe.preparationTime}}</p>
            </div>
        </div>
    </li>
    <li class="list-group-item text-center main-theme">
        <div class="row">
            <div class="col-6 text-right">
                <p><strong>Views:</strong></p>
            </div>
            <div class="col-6 text-left">
                <p>{{selectedRecipe.views}} <small *ngIf="selectedRecipe.lastViewed > 0">&nbsp;({{selectedRecipe.lastViewed | timeAgo}})</small></p>
            </div>
        </div>
    </li>
    <li class="list-group-item text-center main-theme">
        <div class="row ">
            <div class="col-2"></div>
            <div class="col-8">
                <h6>Ingredients:</h6>
                <div class="list-group text-center" *ngFor="let ingredient of selectedRecipe.ingredients">
                    <p class="list-group-item list-group-item-action light-gray">{{ingredient.name}}</p>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </li>
    <li class="list-group-item text-center main-theme" *ngIf="suggestions.length > 0">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h6>Suggestions (based on your selection):</h6>
                <div class="list-group text-center suggestion" (click)="onSelectSuggestion(recipe)"
                    *ngFor="let recipe of suggestions">
                    <p class="list-group-item list-group-item-action light-gray">{{recipe.name}} &nbsp;&nbsp;
                        [<small *ngFor="let ingredient of recipe.ingredients"
                            class="text-right">{{ ingredient.name }}&nbsp;</small>]
                    </p>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </li>
</ul>