<ul class="list-group">
    <li class="list-group-item text-center main-theme">
        <img [src]="imageUrl" width="100" height="100" class="img-thumbnail">
    </li>
    <li class="list-group-item text-center main-theme">
        <div class="row">
            <div class="col-6 text-right">
                <p><strong>Name:</strong></p>
            </div>
            <div class="col-6 text-left">
                <p>{{selectedRecipe.name}}</p>
            </div>
        </div>
    </li>
    <li class="list-group-item text-center main-theme">
        <div class="row">
            <div class="col-6 text-right">
                <p><strong>Preparation Time:</strong></p>
            </div>
            <div class="col-6 text-left">
                <p>{{selectedRecipe.preparationTime}}</p>
            </div>
        </div>
    </li>
    <li class="list-group-item text-center main-theme">
        <div class="row">
            <div class="col-6 text-right">
                <p><strong>Views:</strong></p>
            </div>
            <div class="col-6 text-left">
                <p>{{selectedRecipe.views}}</p>
            </div>
        </div>
    </li>
    <li class="list-group-item text-center main-theme">
        <div class="row ">
            <div class="col-2"></div>
            <div class="col-8">
                <h6>Ingredients:</h6>
                <div class="list-group text-center" *ngFor="let ingredient of selectedRecipe.ingredients">
                    <p class="list-group-item list-group-item-action  light-gray">{{ingredient.name}}</p>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </li>
</ul>